









    <!-- Content Header (Page header) -->
    <section class="content-header" >
        <h1>
           Gestion utilisateur
            <small ng-click="vm.onshow()">advanced tables  </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables </li>


        </ol>
    </section>

    <!-- Main content -->
    <section class="content" >
        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <!-- /.box -->

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Gestion utilisateur</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </form>


                            <a class="btn btn-primary pull-right" href="/register">Ajouter</a>
                            <table id="example1" class="table table-bordered table-striped" at-paginated at-list="list" at-config="config">
                                <thead>
                                <tr>
                                    <th ng-click="sort('_id')">_Id
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('name')">Nom
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('email')">Email
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('PhoneNumber')">PhoneNumber
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='PhoneNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('role')">Role
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='role'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Afficher</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in users| filter : search| pagination: curPage * pageSize |orderBy : sortKey:reverse">
                                    <td>{{user._id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.phoneNumber}}</td>
                                    <td>{{user.role}}</td>
                                    <td> <a href="/edituser/{{user._id}}" >
                                        <span class="fa fa-fw fa-edit"></span></a></td>
                                    <td> <a href="" ng-click="deleteUser(user)">
                                        <span class="fa fa-fw fa-remove"></span></a></td>
                                    <td> <a href="/showuser/{{user._id}}" >
                                        <span class="fa fa-fw fa-eye"></span></a></td>
                                </tr>
                                </tfoot>
                            </table>



                            <!--Pagination div --->

                            <div class="pager" ng-show="users.length">

                                <li> <a type="button" ng-disabled="curPage == 0"
                                        ng-click="curPage=curPage-1">PREV</a></li>

                                <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>

                                <li> <a type="button"
                                        ng-disabled="curPage >= users.length/pageSize - 1"
                                        ng-click="curPage = curPage+1">NEXT </a></li>

                            </div>
                            <!-- End Pagination div --->
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            </div>
        </section>


ici show {{messaguser}}  {{showuser.name}}






