<navigation></navigation>


    <!-- Content Header (Page header) -->
    <section class="content-header" >
        <h1>
           Gestions des utilisateurs
        </h1>
    </section>

    <!-- Main content -->
    <section class="content" >
        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <!-- /.box -->

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Gestions des  utilisateurs</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </form>


                            <div ng-show="alert==true" class="alert alert-success  col-md-6  col-md-offset-3" role="alert" >
                                <button type="button" class="btn" ng-click="alert=false"><span aria-hidden="true">&times;
                                  </span><span class="sr-only">Close</span></button>
                                {{msgalert}}.
                            </div>



                            <a class="btn btn-primary pull-right" style="margin-bottom: 2%" href="/adduser">Ajouter</a>
                            <table id="example1" class="table table-bordered table-striped" at-paginated at-list="list" at-config="config">
                                <thead>
                                <tr>
                                    <th ng-click="sort('_id')">_Id
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('name')">Nom
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('email')">Email
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('PhoneNumber')">Télephone
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='PhoneNumber'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('role')">Role
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='role'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                    <th>Afficher</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr  dir-paginate="user in users| itemsPerPage: 4| filter : search| orderBy : sortKey:reverse " >
                                    <td>{{user._id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.phoneNumber}}</td>
                                    <td>{{user.role}}</td>
                                    <td> <a href="/edituser/{{user._id}}" >
                                        <span class="fa fa-fw fa-edit"></span></a></td>
                                    <td> <a href="" ng-click="deleteUser(user)">
                                        <span class="fa fa-fw fa-remove"></span></a></td>
                                    <td> <a href="/showuser/{{user._id}}" >
                                        <span class="fa fa-fw fa-eye"></span></a></td>
                                </tr>
                                </tfoot>
                            </table>
                            <dir-pagination-controls ng-hide="query.length>0"></dir-pagination-controls>




                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            </div>
        </section>








