<navigation></navigation>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Ajouter  service</h1>
            <form ng-submit="vm.onSubmit()">
                <div class="form-group">
                    <label for="name">Entre Nom de service :</label>
                    <input type="text" class="form-control" id="name" placeholder="Entrer Nom sous service" ng-model="service.name">
                </div>
                <div class="form-group">
                    <label>Sous Catégorie associée </label>
                    <select class="form-control select2" style="width: 100%;"  id="parent" ng-model="service.parent">
                        <option ng-repeat="catg in catgs" value="{{catg._id}}">{{catg.name}}</option>
                    </select>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <button type="reset" class="btn btn-danger ">Annuler</button>
                </div>
            </form>
        </div>
    </div>

</div>

