<!-- Preloader -->
<div class="preloader">
    <div id="followingBallsG">
        <div id="followingBallsG_1" class="followingBallsG"></div>
        <div id="followingBallsG_2" class="followingBallsG"></div>
        <div id="followingBallsG_3" class="followingBallsG"></div>
        <div id="followingBallsG_4" class="followingBallsG"></div>
    </div>
</div>
<!-- //Preloader -->
<!-- Header -->
<header class="header" role="banner">
    <div class="wrap">
        <!-- Logo -->
        <div class="logo">
            <a href="admin.html" title="Transfers"><img src="designeFrontoffice/images/transfers.jpg" alt="Transfers" /></a>
        </div>
        <!-- //Logo -->

        <!-- Main Nav -->
        <nav role="navigation" class="main-nav">
            <ul>
                <li class="active"><a href="admin.html" title="">Home</a></li>
                <li><a href="destinations.html" title="Destinations">Destinations</a>
                    <ul>
                        <li><a href="destination-single.html" title="Single destination">Single destination</a></li>
                        <li><a href="destination-micro.html" title="Micro destination">Micro destination</a></li>
                    </ul>
                </li>
                <li><a href="tailor-made.html" title="Tailor made">Coiffure </a></li>
                <li><a href="blog.html" title="Blog">visage</a>
                    <ul>
                        <li><a href="blog.html" title="Post">Blog list</a></li>
                        <li><a href="blog2.html" title="Post">Blog grid</a></li>
                        <li><a href="blog-single.html" title="Post">Post</a></li>
                    </ul>
                </li>
                <li><a href="contact.html" title="Contact">Contact</a></li>
                <li><a href="#" title="Pages">Corps</a>
                    <div>
                        <div class="one-fourth">
                            <h2>Common</h2>
                            <ul>
                                <li><a href="left-sidebar-page.html" title="Left sidebar page">Left sidebar page</a></li>
                                <li><a href="right-sidebar-page.html" title="Right sidebar page">Right sidebar page</a></li>
                                <li><a href="both-sidebar-page.html" title="Both sidebars page">Both sidebars page</a></li>
                                <li><a href="full-width-page.html" title="Full width page">Full width page</a></li>
                            </ul>
                        </div>
                        <div class="one-fourth">
                            <h2>Carte Cadeau</h2>
                            <ul>
                                <li><a href="search-results.html" title="Search results page">Search results page</a></li>
                                <li><a href="booking-step1.html" title="Booking step 1">Booking step 1</a></li>
                                <li><a href="booking-step2.html" title="Booking step 2">Booking step 2</a></li>
                                <li><a href="booking-step3.html" title="Booking step 3">Booking step 3</a></li>
                            </ul>
                        </div>
                        <div class="one-fourth">
                            <h2>Corporate</h2>
                            <ul>
                                <li><a href="about.html" title="About u">About us</a></li>
                                <li><a href="services.html" title="Services">Services</a></li>
                                <li><a href="faq.html" title="Faq">Faq</a></li>
                                <li><a href="contact.html" title="Contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="one-fourth">
                            <h2>Special</h2>
                            <ul>
                                <li><a href="login.html" title="Login">Login</a></li>
                                <li><a href="register.html" title="Register">Register</a></li>
                                <li><a href="account.html" title="My account">My account</a></li>
                                <li><a href="error.html" title="404 error">404 error</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="http://themeforest.net/item/transfers-transport-and-car-hire-html-template/9366018?ref=themeenergy" title="Purchase">spa</a></li>
            </ul>
        </nav>
        <!-- //Main Nav -->
    </div>
</header>
<!-- //Header -->

<!-- Main -->
<main class="main" role="main">
    <br><br/><br><br/>

                <!-- Search -->
                <div class="advanced-search color" id="booking">
                    <form role="form">
                    <div class="wrap">

                        <!-- Row -->
                        <div class="f-row">
                            <div class="form-group one-third">
                                <label>Nom salon</label>
                                <input type="text" />

                            </div>

                            <div class="form-group select one-third">
                                <label>Ville</label>
                                <select ng-model="salon.ville">
                                    <option selected>&nbsp;</option>
                                    <option ng-repeat="ville in villes" >{{ville.name}}</option>
                                </select>
                            </div>
                            <div class="form-group select one-third">
                                <label>Type de Salon</label>
                                <select>
                                    <option selected>&nbsp;</option>
                                    <optgroup ng-repeat="catg in catgs" label="{{catg.name}}">
                                        <option ng-repeat="scatg in souscategories" ng-if="scatg.parent==catg._id" >{{scatg.name}}</option>
                                    </optgroup>

                                </select>
                            </div>
                        </div>

                        <div class="form-group right">
                            <a href="/rdvlistsalons/{{salon.ville}}" class="btn large black">Find a transfer</a>
                        </div>

                        <!--// Row -->

                    </div>
                        </form>
                </div>
                <!-- //Search -->


    <div class="wrap">
        <div class="row">
            <!--- Content -->
            <div class="full-width content">


                <div class="results">
                    <!-- Item -->
                    <article class="result" ng-repeat="salon in salons">
                        <div class="one-fourth heightfix"><img src="./uploads/{{salon.image}}" alt="" /></div>
                        <div class="one-half heightfix">
                            <h3>{{salon.name}} <a href="javascript:void(0)"  ng-click="OpenDescription()" class="trigger color" title="Read more">?</a></h3>
                            <ul>
                                <li>
                                    <span class="icon icon-themeenergy_user-3"></span>
                                    <p> <strong >{{NombreEmpl(salon._id)}}</strong> <br />Employe (s)</p>
                                </li>
                                <li>
                                    <span class="icon icon-themeenergy_travel-bag"></span>
                                   <p>
                                       <span class="glyphicon glyphicon-star" ng-repeat="n in range(1,salon.rating)"></span>
                                       <span class="glyphicon glyphicon-star-empty" ng-repeat="n in range(1,5-salon.rating)"></span>
                                       <br>Evaluation
                                   </p>

                                    <!-- <span class="icon icon-themeenergy_travel-bag"></span>
                                     <p>Max <strong>3 suitcases</strong> <br />per vehicle</p>-->
                                </li>
                                <li>

                                    <span class="icon icon-themeenergy_clock"></span>
                                 <!--   <p> <strong >{{salon.categorie.length}}</strong> <br />spécialité (s)</p>-->
                                    <p>Estimated time <br /><strong>50 mins</strong></p>
                                </li>
                            </ul>
                        </div>
                        <div class="one-fourth heightfix">
                            <div>
                                <div class="price">{{salon.categorie.length}} <small>spécialité (s)</small></div>
                                <span class="meta">{{salon.ville}}</span>
                                <a href="/rdvlistservices/{{salon._id}}" class="btn grey large">select</a>
                            </div>
                        </div>
                        <div class="full-width information" ng-hide="descsalon">
                            <a href="javascript:void(0)" ng-click="CloseDescription()" class="close color" title="Close">x</a>
                            <p>{{salon.description}}</p>
                        </div>
                    </article>
                    <!-- //Item -->

                </div>


            </div>
            <!--- //Content -->
        </div>
    </div>
</main>
<!-- //Main -->

<!-- Footer -->
<footer class="footer black" role="contentinfo">
    <div class="wrap">
        <div class="row">
            <!-- Column -->
            <article class="one-half">
                <h6>About us</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
            </article>
            <!-- //Column -->

            <!-- Column -->
            <article class="one-fourth">
                <h6>Need help?</h6>
                <p>Contact us via phone or email:</p>
                <p class="contact-data"><span class="icon icon-themeenergy_call"></span> +1 555 555 555</p>
                <p class="contact-data"><span class="icon icon-themeenergy_mail-2"></span> <a href="mailto:help@transfers.com">help@transfers.com</a></p>
            </article>
            <!-- //Column -->

            <!-- Column -->
            <article class="one-fourth">
                <h6>Follow us</h6>
                <ul class="social">
                    <li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
                    <li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
                    <li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
                    <li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
                    <li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
                    <li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
                </ul>
            </article>
            <!-- //Column -->
        </div>

        <div class="copy">
            <p>Copyright 2016, Themeenergy. All rights reserved. </p>

            <nav role="navigation" class="foot-nav">
                <ul>
                    <li><a href="#" title="Home">Home</a></li>
                    <li><a href="#" title="Blog">Blog</a></li>
                    <li><a href="#" title="About us">About us</a></li>
                    <li><a href="#" title="Contact us">Contact us</a></li>
                    <li><a href="#" title="Terms of use">Terms of use</a></li>
                    <li><a href="#" title="Help">Help</a></li>
                    <li><a href="#" title="For partners">For partners</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<!-- //Footer -->