

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Preloader -->
<div class="preloader">
    <div id="followingBallsG">
        <div id="followingBallsG_1" class="followingBallsG"></div>
        <div id="followingBallsG_2" class="followingBallsG"></div>
        <div id="followingBallsG_3" class="followingBallsG"></div>
        <div id="followingBallsG_4" class="followingBallsG"></div>
    </div>
</div>
<!-- //Preloader -->
<!-- Header -->
<header class="header" role="banner">
    <div class="wrap">
        <!-- Logo -->
        <div class="logo">
            <a href="admin.html" title="Transfers"><img width="100px" src="designeFrontoffice/images/logo.jpg" alt="Transfers" /></a>
        </div>
        <!-- //Logo -->

        <!-- Main Nav -->
        <nav role="navigation" class="main-nav">
            <ul>
                <li class="active"><a href="admin.html" title="">Home</a></li>

                <li><a href="contact.html" title="Contact">Contact</a></li>

                <li><a href="http://themeforest.net/item/transfers-transport-and-car-hire-html-template/9366018?ref=themeenergy" title="Purchase">spa</a></li>
            </ul>
        </nav>
        <!-- //Main Nav -->
    </div>
</header>
<!-- //Header -->

<!-- Main -->
<main class="main" role="main">
    <br><br/><br><br/>

                <!-- Search -->
                <!--<div class="advanced-search color" id="booking">
                    <form role="form">
                    <div class="wrap">

                        &lt;!&ndash; Row &ndash;&gt;
                        <div class="f-row">
                            <div class="form-group one-third">
                                <label>Nom salon</label>
                                <input type="text" />

                            </div>

                            <div class="form-group select one-third">
                                <label>Ville</label>
                                <select ng-model="salon.ville">
                                    <option selected>&nbsp;</option>
                                    <option ng-repeat="ville in villes" >{{ville.name}}</option>
                                </select>
                            </div>
                            <div class="form-group select one-third">
                                <label>Type de Salon</label>
                                <select>
                                    <option selected>&nbsp;</option>
                                    <optgroup ng-repeat="catg in catgs" label="{{catg.name}}">
                                        <option ng-repeat="scatg in souscategories" ng-if="scatg.parent==catg._id" >{{scatg.name}}</option>
                                    </optgroup>

                                </select>
                            </div>
                        </div>

                        <div class="form-group right">
                            <a href="/rdvlistsalons/{{salon.ville}}" class="btn large black">Find a transfer</a>
                        </div>

                        &lt;!&ndash;// Row &ndash;&gt;

                    </div>
                        </form>
                </div>-->
                <!-- //Search -->


    <div class="wrap">
        <div class="row">
            <!--- Content -->
            <div class="full-width content">


                <div class="results">
                    <!-- Item -->
                    <article class="result" ng-repeat="salon in salons">
                        <div class="one-fourth heightfix"><img src="./uploads/{{salon.image}}" alt="" /></div>
                        <div class="one-half heightfix">
                            <h3><a href="profilesalon/{{salon._id}}">{{salon.name}}</a> <a href="javascript:void(0)"  ng-click="OpenDescription()" class="trigger color" title="Read more">?</a></h3>
                            <ul>
                                <li>
                                    <span class="icon icon-themeenergy_user-3"></span>
                                    <p> <strong >{{NombreEmpl(salon._id)}}</strong> <br />Employe (s)</p>
                                </li>
                                <li>
                                    <span class="icon icon-themeenergy_travel-bag"></span>
                                   <p>
                                       <span class="glyphicon glyphicon-star" ng-repeat="n in range(1,salon.rating)"></span>
                                       <span class="glyphicon glyphicon-star-empty" ng-repeat="n in range(1,5-salon.rating)"></span>
                                       <br>Evaluation
                                   </p>

                                    <!-- <span class="icon icon-themeenergy_travel-bag"></span>
                                     <p>Max <strong>3 suitcases</strong> <br />per vehicle</p>-->
                                </li>
                                <li>

                                    <span class="icon icon-themeenergy_clock"></span>
                                 <!--   <p> <strong >{{salon.categorie.length}}</strong> <br />spécialité (s)</p>-->
                                    <p>Estimated time <br /><strong>50 mins</strong></p>
                                </li>
                            </ul>
                        </div>
                        <div class="one-fourth heightfix">
                            <div>
                                <div class="price">{{salon.categorie.length}} <small>spécialité (s)</small></div>
                                <span class="meta">{{salon.ville}}</span>
                                <a href="/rdvlistservices/{{salon._id}}" class="btn grey large">select</a>
                            </div>
                        </div>
                        <div class="full-width information" ng-hide="descsalon">
                            <a href="javascript:void(0)" ng-click="CloseDescription()" class="close color" title="Close">x</a>
                            <p>{{salon.description}}</p>
                        </div>
                    </article>
                    <!-- //Item -->

                </div>


            </div>
            <!--- //Content -->
        </div>
    </div>
</main>
<!-- //Main -->

<!-- Footer -->
<footer class="footer black" role="contentinfo">
    <div class="wrap">
        <div class="row">
            <!-- Column -->
            <article class="one-half">
                <h6>About us</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
            </article>
            <!-- //Column -->

            <!-- Column -->
            <article class="one-fourth">
                <h6>Need help?</h6>
                <p>Contact us via phone or email:</p>
                <p class="contact-data"><span class="icon icon-themeenergy_call"></span> +1 555 555 555</p>
                <p class="contact-data"><span class="icon icon-themeenergy_mail-2"></span> <a href="mailto:help@transfers.com">help@transfers.com</a></p>
            </article>
            <!-- //Column -->

            <!-- Column -->
            <article class="one-fourth">
                <h6>Follow us</h6>
                <ul class="social">
                    <li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
                    <li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
                    <li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
                    <li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
                    <li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
                    <li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
                </ul>
            </article>
            <!-- //Column -->
        </div>

        <div class="copy">
            <p>Copyright 2016, Themeenergy. All rights reserved. </p>

            <nav role="navigation" class="foot-nav">
                <ul>
                    <li><a href="#" title="Home">Home</a></li>
                    <li><a href="#" title="Blog">Blog</a></li>
                    <li><a href="#" title="About us">About us</a></li>
                    <li><a href="#" title="Contact us">Contact us</a></li>
                    <li><a href="#" title="Terms of use">Terms of use</a></li>
                    <li><a href="#" title="Help">Help</a></li>
                    <li><a href="#" title="For partners">For partners</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<!-- //Footer -->