<headersalon></headersalon>

{{message}}

<!-- Main content -->
<section class="content " dir-paginate="salon in salons| itemsPerPage: 1" >  <!-- dir-paginate="salon in salons| itemsPerPage: 1"-->
    <div class="row" >
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Les informations de l'utilisateur {{salon.name}}  : </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                        <form ng-submit="save(formData)">
                             <table class="table table-bordered">
                                 <tr style="color: blue">
                                     <th class="col-md-1">Choix</th>
                                     <th class="col-md-2">Nom Service</th>
                                     <th class="col-md-2">Catégorie -> Sous Catégorie</th>
                                     <th class="col-md-2">Durée (min)</th>
                                     <th class="col-md-2">Prix (DH)</th>
                                     <th class="col-md-2">Employees</th>

                                 </tr>
                         <tbody ng-repeat="service  in services">

                              <tr ng-repeat="scatg in scatgs"  ng-if="scatg._id == service.parent" >

                                  <td class="col-md-1"><input name="chkweek"  type="checkbox"  ng-model="formData[service._id][salon._id].chkweek  " class="btn btn-primary">{{valuecheckbox[serviceproposer.name]}}</td>
                                  <td class="col-md-2" ><input type="text"  ng-disabled="true"  ng-model="formData[service._id][salon._id].name = service.name" class="form-control" ></td>
                                  <td class="col-md-3" > <input type="text" disabled ng-repeat="catg in catgs" ng-if="catg._id ==scatg.parent" ng-model="formData[service._id][salon._id].categorie=catg.name+ ' --> '+scatg.name" class="form-control"></td>
                                  <td class="col-md-2" >   <input type="number"  ng-disabled="!formData[service._id][salon._id].chkweek" class="form-control" placeholder="Enter your time" ng-model="formData[service._id][salon._id].time"></td>
                                  <td class="col-md-2" ><input type="number" ng-disabled="!formData[service._id][salon._id].chkweek" class="form-control" id="phoneNumber" placeholder="Enter your price" ng-model="formData[service._id][salon._id].price"></td>
                                  <td class="col-md-2" >
                                      <select multiple style="height : 45px"  ng-model="formData[service._id][salon._id].employe" class="form-control"  ng-disabled="!formData[service._id][salon._id].chkweek">
                                          <option ng-repeat="employe in employes" value="{{employe.name}}">{{employe.name}}</option>
                                      </select>
                                  </td>
                                  <td class="col-md-0" ><input type="text" ng-hide="true" ng-disabled="true"  ng-model="formData[service._id][salon._id].idsalon = salon._id" class="form-control" ></td>
                              </tr>

                         </tbody>


                                 <tr>
                                     <td colspan="6">
                                         <button type="submit" class="btn btn-primary pull-right">Valider</button>
                                     </td>
                                 </tr>
                     </table>


                         </form>

                    <hr>


                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<div class="text-center">
    <dir-pagination-controls ></dir-pagination-controls>
</div>





















<!-- <form ng-submit="save(formData)"name="serviceForm">

     <div class="row" ng-repeat="service  in services">
         <div class="col-md-12" ng-repeat="scatg in scatgs"  ng-if="scatg._id == service.parent" ng-model="formData">



             <div  class="col-md-2" >
                 <input name="chkweek"  type="checkbox"  ng-model="formData[service._id].chkweek  " class="btn btn-primary">
             </div>



             <div  class="col-md-2" >
                 <input type="text"  ng-disabled="true"  ng-model="formData[service._id].name = service.name" class="form-control" >
             </div>

             <div  class="col-md-2" >
                 <input type="text" ng-repeat="catg in catgs" ng-if="catg._id ==scatg.parent" ng-model="formData[service._id].categorie=catg.name+ ' &ndash;&gt; '+scatg.name" class="form-control">
             </div>

             <div  class="col-md-2" >
                 <input type="text"  ng-disabled="!formData[service._id].chkweek" class="form-control" placeholder="Enter your time" ng-model="formData[service._id].time">
             </div>

             <div class="col-md-2" >
                 <input type="text" ng-disabled="!formData[service._id].chkweek" class="form-control" id="phoneNumber" placeholder="Enter your price" ng-model="formData[service._id].price">
             </div>

             <div class="col-md-2" >
                 <select  ng-model="formData[service._id].employe"  ng-disabled="!formData[service._id].chkweek">
                     <option ng-repeat="employe in employes" value="{{employe.name}}">{{employe.name}}</option>
                 </select>
             </div>





         </div>
     </div>
     <div  class="col-md-2" >
         <button type="submit" class="btn btn-primary">Ajouter</button>
     </div>
 </form>-->





