<headersalon></headersalon>



<div class="row">
    <div class="col-md-12">

        <div class="box box-danger">
            <div class="box-header">

                <div class="container">

                    <div class="row">
                        <div class="col-md-6">
                            <h1>Ajouter un Employe</h1>
                            <form ng-submit="vm.onSubmit()">
                                <div class="form-group">
                                    <label for="name">Nom et prénom</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="employe.name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="employe.email">
                                </div>
                                <div class="form-group">
                                    <label for="name">Téléphone</label>
                                    <input type="text" class="form-control" id="phoneNumber" placeholder="Enter your phoneNumber" ng-model="employe.phoneNumber">
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Ajouter</button>
                                    <button type="reset" class="btn btn-danger">Annuler</button>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>