<navigation></navigation>


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Ajouter catégorie</h1>
            <form ng-submit="vm.submit()" >
                <div class="form-group">
                    <label for="name">Entre Nom de catégorie:</label>
                    <input type="text" class="form-control" id="name" placeholder="Entrer Nom categorie" ng-model="categorie.name">
                </div>
                <div class="form-group">
                    <label>Télécharger image:</label>
                    <input
                            type="file"
                            ngf-select
                            ng-model="categorie.img"
                            name="file"
                            ngf-pattern="'image/*'"
                            accept="image/*"
                            ngf-max-size="20MB"
                    />
                    Image thumbnail: <img style="width:100px;" ng-show="!!vm.file" ngf-thumbnail="categorie.img || './uploads/salon.jpg'"/>
                </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
                <button type="reset" class="btn btn-danger">Annuler</button>

            </form>
        </div>
    </div>

</div>
