<navigation></navigation>


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Ajouter sous catégorie</h1>
            <form ng-submit="vm.submit()" >
                <div class="form-group">
                    <label>catégorie</label>
                    <select class="form-control select2"   ng-model="categorie.parent">>
                        <option ng-repeat="catg in catgs" value="{{catg._id}}">{{catg.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Entre Nom de sous catégorie:</label>
                    <input type="text" class="form-control" id="name" placeholder="Entrer Nom sous categorie" ng-model="categorie.name">
                </div>
                <div class="form-group">
                    <label>Télécharger image:</label>

                    <table>
                        <tr>
                            <td>
                                <input
                                    type="file"
                                    ngf-select
                                    ng-model="categorie.img"
                                    name="file"
                                    ngf-pattern="'image/*'"
                                    accept="image/*"
                                    ngf-max-size="20MB"
                            />
                            </td>
                            <td>
                                <img style="width:100px;" ng-show="!!vm.file" ngf-thumbnail="categorie.img || './uploads/salon.jpg'"/>
                            </td>

                        </tr>
                    </table>


                </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
                <button type="reset" class="btn btn-danger">Annuler</button>

            </form>
        </div>
    </div>

</div>