<headersalon></headersalon>

<!-- Main content -->
<section class="content ">
    <div class="row">
        <div class="col-md-10">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Les informations de profile salon : <b  ng-repeat="salon in salons" ng-if="salon._id == profile.idsalon">{{salon.name}}</b> </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Télephone</th>
                            <td>{{profile.tel}}</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td >{{profile.address}}</td>
                        </tr>
                        <tr>
                            <th>Ville</th>
                            <td >{{profile.address}}</td>
                        </tr>
                        <tr>
                            <th>Salon</th>
                            <td ><p  ng-repeat="salon in salons" ng-if="salon._id == profile.idsalon">{{salon.name}}</p></td>
                        </tr>
                        <tr>
                            <th>Commancé à</th>
                            <td >{{profile.startTime.getHours()}} : {{profile.startTime.getMinutes()}}</td>
                        </tr>
                        <tr>
                            <th>Términé à</th>
                            <td >{{profile.endTime.getHours()}} : {{profile.endTime.getMinutes()}} </td>
                        </tr>

                        <tr>
                            <th>Description</th>
                            <td >{{profile.description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>