<!-- Preloader -->
<div class="preloader">
    <div id="followingBallsG">
        <div id="followingBallsG_1" class="followingBallsG"></div>
        <div id="followingBallsG_2" class="followingBallsG"></div>
        <div id="followingBallsG_3" class="followingBallsG"></div>
        <div id="followingBallsG_4" class="followingBallsG"></div>
    </div>
</div>
<!-- //Preloader -->

<!-- Header -->
<header class="header" role="banner">
    <div class="wrap">
        <!-- Logo -->
        <div class="logo">
            <a href="admin.html" title="Transfers"><img width="100px" src="designeFrontoffice/images/logo.jpg" alt="Transfers" /></a>
        </div>
        <!-- //Logo -->

        <!-- Main Nav -->
        <nav role="navigation" class="main-nav">
            <ul>
                <li class="active"><a href="admin.html" title="">Home</a></li>

                <li><a href="contact.html" title="Contact">Contact</a></li>

                <li><a href="http://themeforest.net/item/transfers-transport-and-car-hire-html-template/9366018?ref=themeenergy" title="Purchase">spa</a></li>
            </ul>
        </nav>
        <!-- //Main Nav -->
    </div>
</header>
<!-- //Header -->

<!-- Main -->
<main class="main" role="main">
    <br><br><br>
    <!-- Page info -->
    <header class="site-title color">
        <div class="wrap">
            <div class="container">
                <h1>Services salon : {{salon.name}}</h1>
                <nav role="navigation" class="breadcrumbs">
                    <ul>
                        <li><a href="index.html" title="Home">Home</a></li>
                        <li>Services </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- //Page info -->


    <div class="wrap">
        <div class="row">

            <!--- Sidebar -->
            <aside class="one-fourth sidebar left">
                <!-- Widget -->
                <div class="widget">
                    <ul class="categories" ng-repeat="catg in AllCatg.categories" >
                            <li class="active"><a>{{catg.name}}</a></li>
                        <li ng-repeat="scatg in AllCatg.souscategories" ng-if="scatg.parent==catg._id"  ng-click="DisplayService(scatg.name)"><a href="#">{{scatg.name}}</a></li>
                    </ul>
                </div>
                <!-- //Widget -->
            </aside>
            <!--- //Sidebar -->

            <!--- Content -->
            <div class="three-fourth content">
                <div class="col-md-12 text-center">
                    <span class="alert-info">{{notificationMsg}}</span>
                </div>


                <!-- Tab -->
                <article class="single hentry" id="tab1">
                    <div class="entry-content">
                        <div class="wrap">
                            <div class="row">
                        <div  ng-repeat="service in services">
                            <div class="f-row">
                                <div class="one-half">
                                    <div class="three-fourth">
                                      <h3>{{service.name}}   </h3>
                                    </div>
                                    <div class="one-fourth">
                                       <h4>{{service.price}} (Dh)</h4>
                                    </div>
                                </div>
                                <div class="one-half">
                                    <div class="three-fourth">
                                        <div class="one-half">
                                            <h4>{{service.time}} (min)</h4>
                                        </div>
                                        <div class="one-half">
                                            <select id="labemp" ng-model="service.employe">
                                                <option>choisi Employe</option>
                                                <option ng-repeat="employe in service.employe" value="{{employe.idemploye}}">{{employe.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="one-fourth">
                                        <img class="col-sm-offset-11"  ng-src="designeFrontoffice/images/add.png" ng-hide="hideimgadd[service._id]" width="40%" ng-click="AddServices(service)">
                                        <img class="col-sm-offset-11"  ng-src="{{iconadd[service._id]}}" ng-hide="hideimgsuccess[service._id]" width="40%" ng-click="AddServices(service)">
                                    </div>
                                </div>

                            </div>
                            <h3>-----------------------------------------------------------------------------------------------</h3>

                        </div>

                            </div>
                        </div>


                       <!-- <a href="#" class="list-group-item"   style="height: 180px">
                            <h4 class="list-group-item-heading">{{service.name}} <b class="list-group-item-heading col-sm-offset-11 ">{{service.price}} Dh</b></h4>
                            <p class="list-group-item-text">Choisi Employe<strong style="color: #5890AD;" class="col-sm-offset-1">{{service.time}} min</strong>

                                <br/>


                                <select id="labemp" ng-model="service.employe" class="col-md-2">
                                    <option ng-repeat="employe in service.employe" value="{{employe.idemploye}}">{{employe.name}}</option>
                                </select>


                                <img class="col-sm-offset-11"  ng-src="designeFrontoffice/images/add.png" ng-hide="hideimgadd[service._id]" width="4%" ng-click="AddServices(service)">
                                <img class="col-sm-offset-11"  ng-src="{{iconadd[service._id]}}" ng-hide="hideimgsuccess[service._id]" width="4%" ng-click="AddServices(service)">

                            </p>
                        </a>-->
                    </div>
                </article>
                <!-- //Tab -->


<div class="pull-right">
    <button class="btn btn-primary" ng-click="Addsession()"> Suivant</button>
</div>


                <!-- Tab -->
              <!--  <article class="single hentry" id="tab1">
                    <div class="entry-featured">
                        <img src="designeFrontoffice/images/uploads/img2.jpg" alt="" />
                    </div>
                    <div class="entry-content">
                        <h2>Private transfers</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p>Duis autem vel eum iriure dolor in <a href="#">this is a link</a> velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing <strong>this is some bold text</strong> elit, sed diam nonummy nibh euismod tincidunt ut. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    </div>
                </article>-->
                <!-- //Tab -->




            </div>
            <!--- //Content -->
        </div>
    </div>
</main>
<!-- //Main -->

<!-- Footer -->
<footer class="footer black" role="contentinfo">
    <div class="wrap">
        <div class="row">
            <!-- Column -->
            <article class="one-half">
                <h6>About us</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
            </article>
            <!-- //Column -->

            <!-- Column -->
            <article class="one-fourth">
                <h6>Need help?</h6>
                <p>Contact us via phone or email:</p>
                <p class="contact-data"><span class="icon icon-themeenergy_call"></span> +1 555 555 555</p>
                <p class="contact-data"><span class="icon icon-themeenergy_mail-2"></span> <a href="mailto:help@transfers.com">help@transfers.com</a></p>
            </article>
            <!-- //Column -->

            <!-- Column -->
            <article class="one-fourth">
                <h6>Follow us</h6>
                <ul class="social">
                    <li><a href="#" title="facebook"><i class="fa fa-fw fa-facebook"></i></a></li>
                    <li><a href="#" title="twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
                    <li><a href="#" title="gplus"><i class="fa fa-fw fa-google-plus"></i></a></li>
                    <li><a href="#" title="linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
                    <li><a href="#" title="pinterest"><i class="fa fa-fw fa-pinterest-p"></i></a></li>
                    <li><a href="#" title="vimeo"><i class="fa fa-fw fa-vimeo"></i></a></li>
                </ul>
            </article>
            <!-- //Column -->
        </div>

        <div class="copy">
            <p>Copyright 2016, Themeenergy. All rights reserved. </p>

            <nav role="navigation" class="foot-nav">
                <ul>
                    <li><a href="#" title="Home">Home</a></li>
                    <li><a href="#" title="Blog">Blog</a></li>
                    <li><a href="#" title="About us">About us</a></li>
                    <li><a href="#" title="Contact us">Contact us</a></li>
                    <li><a href="#" title="Terms of use">Terms of use</a></li>
                    <li><a href="#" title="Help">Help</a></li>
                    <li><a href="#" title="For partners">For partners</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<!-- //Footer -->
