<headersalon></headersalon>

<div ng-repeat="salon in salons" >
    <div class="box-header with-border">
        <h3 class="box-title">Agenda pour salon : <b style="color: brown ">{{salon.name}}</b></h3>
    </div>
    <!-- Main content -->
    <section class="content " ng-repeat="employe in employes" ng-if="employe.idsalon ==salon._id">  <!-- dir-paginate="salon in salons| itemsPerPage: 1"-->
        <div class="row" >
            <div class="col-md-12">
                <div class="box">

                    <!-- /.box-header -->
                    <div class="box-body">


                            <p>
                                Ajouter un calendrier pour Employée <b style="color: #00A000">{{employe.name}}</b>
                            </p>

                        <div class="col-md-6 text-center">
                            <p class="col-md-2" style="background-color:Gainsboro ">repos</p>
                            <p class="col-md-2" style="background-color:RosyBrown ">congé</p>
                            <p class="col-md-2" style="background-color:red ">malade</p>
                            <p class="col-md-2" style="background-color:Blue ">réserve</p>
                        </div>

                            <a class="btn btn-info pull-right" style="margin-bottom: 2%" href="/bloquecreneauxagenda/{{employe._id}}">Bloque crénaux</a>
                        <hr>



                        <table class="table table-bordered">
                            <tr style="color: blue">
                                <th>Lundi</th>
                                <th>Mardi</th>
                                <th>Mercredi</th>
                                <th>Jeudi</th>
                                <th>Vendredi</th>
                                <th>Samedi</th>
                                <th>Dimanche</th>

                            </tr>
                            <tbody>

                            <tr>

                                <td ng-repeat="agenda in employe.agenda" ng-if="agenda.day == 'lundi' "><p ng-repeat="marge in agenda.margetime " ng-style="{'malade':{background:'red'}, 'repos':{background: 'Gainsboro'},'congé':{background:'RosyBrown'}, 'réserve':{background: 'Blue'}}[marge.cause]">{{marge.content}} </p></td>
                                <td ng-repeat="agenda in employe.agenda" ng-if="agenda.day == 'mardi' "><p ng-repeat="marge in agenda.margetime " ng-style="{'malade':{background:'red'}, 'repos':{background: 'Gainsboro'},'congé':{background:'RosyBrown'}, 'réserve':{background: 'Blue'}}[marge.cause]">{{marge.content}} </p></td>
                                <td ng-repeat="agenda in employe.agenda" ng-if="agenda.day == 'mercredi' "><p ng-repeat="marge in agenda.margetime " ng-style="{'malade':{background:'red'}, 'repos':{background: 'Gainsboro'},'congé':{background:'RosyBrown'}, 'réserve':{background: 'Blue'}}[marge.cause]">{{marge.content}} </p></td>
                                <td ng-repeat="agenda in employe.agenda"  ng-if="agenda.day == 'jeudi' "><p ng-repeat="marge in agenda.margetime " ng-style="{'malade':{background:'red'}, 'repos':{background: 'Gainsboro'},'congé':{background:'RosyBrown'}, 'réserve':{background: 'Blue'}}[marge.cause]">{{marge.content}} </p></td>
                                <td ng-repeat="agenda in employe.agenda" ng-if="agenda.day == 'vendredi' "><p ng-repeat="marge in agenda.margetime " ng-style="{'malade':{background:'red'}, 'repos':{background: 'Gainsboro'},'congé':{background:'RosyBrown'}, 'réserve':{background: 'Blue'}}[marge.cause]">{{marge.content}} </p></td>
                                <td ng-repeat="agenda in employe.agenda" ng-if="agenda.day == 'samedi' "><p ng-repeat="marge in agenda.margetime " ng-style="{'malade':{background:'red'}, 'repos':{background: 'Gainsboro'},'congé':{background:'RosyBrown'}, 'réserve':{background: 'Blue'}}[marge.cause]">{{marge.content}} </p></td>
                                <td ng-repeat="agenda in employe.agenda" ng-if="agenda.day == 'dimanche' "><p ng-repeat="marge in agenda.margetime "  ng-style="{'malade':{background:'red'}, 'repos':{background: 'Gainsboro'},'congé':{background:'RosyBrown'}, 'réserve':{background: 'Blue'}}[marge.cause]">{{marge.content}} </p></td>


                            </tr>


                            </tbody>

                        </table>



                        







                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>

</div>


<div class="text-center">
    <dir-pagination-controls ></dir-pagination-controls>
</div>