<headersalon></headersalon>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>choisir votre propre  service </h1>
            <form ng-submit="vm.onSubmit()">

               <div class="form-group">
                    <label for="name">Service :</label>
                    <input type="text" class="form-control" id="name" placeholder="Entrer Nom Description" ng-model="service.name">
                </div>

                <div class="form-group">
                    <label for="name"> Salon :</label>
                    <select  class="form-control"  >
                        <option ng-repeat="salon in salons"    value="{{salon._id}}">{{salon.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="name"> Sous Catégorie :</label>
                    <select  class="form-control" >
                        <optgroup ng-repeat="catg in catgs" label="{{catg.name}}">
                            <option ng-repeat="scatg in scatgs" ng-if="scatg.parent == catg._id"  >{{scatg.name}}</option>
                        </optgroup>
                    </select>
                </div>

                <div class="form-group">
                    <label for="name"> Service :</label>
                    <select  class="form-control"  >
                        <option ng-repeat="service in services"    value="{{service._id}}">{{service.name}}</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Ajouter</button>
                <button type="reset" class="btn btn-danger">Annuler</button>
            </form>
        </div>
    </div>

</div>