<navigation></navigation>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Ajouter Sous service</h1>
            <form ng-submit="vm.onSubmit()">
                <div class="form-group">
                    <label for="name">Entre Nom de sous service :</label>
                    <input type="text" class="form-control" id="name" placeholder="Entrer Nom sous service" ng-model="sservice.name">
                </div>
                <div class="form-group">
                    <label>Service</label>
                    <select class="form-control select2" style="width: 100%;"  id="sservice" ng-model="sservice.service">>
                        <option ng-repeat="service in services">{{service.name}}</option>
                    </select>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <button type="reset" class="btn btn-danger ">Annuler</button>
                </div>
            </form>
        </div>
    </div>

</div>

